<div class="row-fluid" style="margin-top: 10px">
    <div class="span12">
        <h2>评论信息
        </h2>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td class="alignRight" style="border-left: none">
                    <input type="text" style="width: 280px !important;margin-top: 10px;float: right"
                           aria-controls="sample_editable_1" ng-model="searchText" ng-change="searchComment()" class="m-wrap medium "
                           placeholder="Search">
                </td>
            </tr>
            </tbody>
        </table>
        <table class="table table-hover" style="table-layout:fixed;">
            <thead>
            <tr>
                <th>#</th>
                <th>帖子</th>
                <th>内容</th>
                <th>姓名</th>
                <th>邮箱</th>
                <th>Site</th>
                <th>状态</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in commentList">
                <td>{{$index+1}}</td>
                <td>{{item.post.title}}</td>
                <td>{{item.content}}</td>
                <td>{{item.username}}</td>
                <td>{{item.email}}</td>
                <td>{{item.personage_site}}</td>
                <td>
                    <span ng-if="item.state == 1"><i class="badge badge-success">正常</i></span>
                    <span ng-if="item.state != 1"><i class="badge badge-important">冻结</i></span>
                <td>{{item.create_date | date:'MM-dd HH:mm:ss'}}</td>
                <td>

                    <a ng-if="item.state == 0" class="btn mini blue" ng-click="recover(item._id)">
                        <i class="icon-ok"></i>恢复
                    </a>
                    <button ng-if="item.state !=0" class="btn mini red" ng-click='postCommentDelete(item._id,item.content)'>
                        <i class="icon-trash"></i>&nbsp; Del
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div ng-include="' ./../admin/tpls/delete.html'"></div>
