<link rel="stylesheet" href="../../css/home/home.min.css">
<link rel="stylesheet" href="../../css/home/mditor.min.css">
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="./../js/layer/layer.js" type="text/javascript"></script>
<script src="./../js/mylayer.js" type="text/javascript"></script>
<script src="./../js/angular.js" type="text/javascript"></script>
<script src="./../js/angular-resource.js" type="text/javascript"></script>
<script src="./../js/angular-ui-router.js"></script>
<script src="../../js/home/app/app.js" type="text/javascript"></script>
<script src="../../js/home/app/routes.js" type="text/javascript"></script>
<script src="../../js/home/app/controllers.js" type="text/javascript"></script>
<script src="../../js/home/app/services.js" type="text/javascript"></script>
<script src="../../js/home/app/filters.js" type="text/javascript"></script>
<script src="../../js/home/app/directives.js" type="text/javascript"></script>
