<div class="container" id="details_container">
    <div class="col-sm-6 col-sm-offset-3 post_item">
        <div class="title">
            <h2>{{post.title}}</h2>
            <div>
                <span>发布于:{{post.create_date | date:'MM-dd HH:mm:ss'}}</span>
                &nbsp;&nbsp;&nbsp;
                <span>浏览/评论:{{post.view_count}}/{{post.comment_count}}</span>
            </div>
        </div>
        <hr/>
        <div on-finish-render-filters ng-bind-html="post.content | toTrusted">
        </div>
        <hr class="fhr"/>
        <h2>留言板</h2>
        <hr/>
        <div class="comment_content col-sm-12">
            <div class="col-sm-12 comment_item" ng-repeat="item in commentList">
                <div class="username">
                    <span>{{item.username}}说:</span>
                </div>
                <div class="content">
                    {{item.content}}
                </div>
                <div class="col-sm-12 date">
                    {{item.create_date | date:'MM-hh HH:mm:ss'}}
                </div>
            </div>
            <div ng-if="isMore == 'T'" class="btn btn btn-default btn-xs commentMore" ng-click="allComment()">加载更多</div>
            <div ng-if="isMore == 'S'" class="btn btn btn-default btn-xs commentMore" ng-click="sComment()">点击收缩</div>
        </div>
        <div class="comment col-sm-12">
            <h4>您的留言:</h4>
            <textarea class="form-control" rows="3" ng-model="user.content"></textarea>
            <h4>您的大名:</h4>
            <input class="form-control" ng-model="user.username"/>
            <h4>电子邮箱:</h4>
            <input class="form-control" ng-model="user.email"/>
            <h4>个人网站:</h4>
            <input class="form-control" ng-model="user.personage_site"/>
            <button type="button" id="sendComment" ng-click="sendComment(post._id)" class="btn btn-info">Send</button>
        </div>
    </div>
</div>