<div class="container" id="post_container">
   <div class=" post_item " >
       <div ng-if="posts.length>0" class="col-sm-12  item_container" ng-repeat="item in posts" ui-sref="index.home.post.details({_id:item._id})">
           <div class="col-sm-10 text">#<span class="item_count">{{item.view_count}}/{{item.comment_count}}</span><span class="istop" ng-if="item.is_top">置顶</span> {{item.title}}</div>
           <div class="col-sm-2 date">
                   {{item.create_date | date:'MM-dd HH:mm'}}
           </div>
       </div>

       <page-pagination conf="paginationConf"></page-pagination>
   </div>
</div>
<style>
    .page-total{color: #ffffff}
    .page-total input{background-color: #000000}
    .page-total select{background-color: #000000}
    .page-total{display: none}
    .pagination>li>span{color: #ffffff}
    .pagination>.active>span{border-color: #2ECC71}
    .page-list{padding-left: 37px}
    .page-list .pagination {float:left;}
    .page-list .pagination span {cursor: pointer;background-color: #000}
    .page-list .pagination .separate span{cursor: default; border-top:none;border-bottom:none;}
    .page-list .pagination .separate span:hover {background: none;}
    .page-list .page-total {float:left; margin: 25px 20px;}
    .page-list .page-total input, .page-list .page-total select{height: 26px; border: 1px solid #ddd;}
    .page-list .page-total input {width: 40px; padding-left:3px;}
    .page-list .page-total select {width: 50px;}
</style>